@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
}

h1,
section,
article {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.no-wrap {
  white-space: nowrap;
}

.no-visible {
  display: none;
}

.logo {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@media (max-width: 375px) {
  html {
    font-size: 12px;
  }
}
.header__block {
  display: grid;
  grid-template-columns: 1fr 7fr;
  padding: 10px 0;
  color: #666666;
}
.header__time-work {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__time-work--color {
  color: #666666;
  font-weight: 400;
  margin-left: 10px;
}
.header__contacts {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__contacts a {
  font-weight: 500;
}
.header__mail {
  text-align: end;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.title {
  display: grid;
  grid-template-columns: 2fr 3fr 5fr;
  background-color: #3399FF;
  align-items: center;
  color: #fff;
}
.title__logo {
  font-size: 3rem;
  white-space: nowrap;
}
.title__subtitle {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: end;
  padding-right: 30px;
}

.blinker__outline--red {
  stroke: #FF3333;
}
.blinker__outline--blue {
  stroke: #3399FF;
}
.blinker__circle {
  margin-right: 10px;
  opacity: 0;
  animation: blink 2s ease-out;
  animation-iteration-count: infinite;
}
.blinker__circle--red {
  fill: #FF3333;
}
.blinker__circle--blue {
  fill: #3399FF;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 30px;
}

.menu {
  text-align: center;
  padding: 0 10px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 0 5px;
  text-align: start;
}
.menu__sublist {
  margin-top: 20px;
  counter-reset: menuItem 0;
}
.menu__sublist-item {
  display: block;
  margin-top: 10px;
  color: #666;
  border: 1px solid #666;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}
.menu__sublist-item:before {
  counter-increment: menuItem;
  content: counter(menuItem) ". ";
}

.content > div {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #666;
}

.emergency__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.emergency__open {
  overflow: hidden;
  position: relative;
  height: 150px;
}
.emergency__open:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
  pointer-events: none;
}
.emergency__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
}
.emergency__subtitle {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}
.emergency__text > p {
  margin-top: 20px;
}
.emergency__text > ul {
  margin-top: 10px;
  list-style-type: circle;
}
.emergency__text > ul > li {
  margin-left: 40px;
  margin-bottom: 10px;
  font-style: italic;
}
.emergency__subject {
  margin-top: 10px;
}

@media (max-width: 1140px) {
  .emergency__subtitle, .title__subtitle {
    letter-spacing: 0.1rem;
  }
}
@media (max-width: 1030px) {
  .emergency__subtitle, .title__subtitle {
    letter-spacing: 0;
  }
}/*# sourceMappingURL=style.css.map */