* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: calc(1.6 * $htmlFontSize);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

button {
	border: none;
}

h1,
section,
article {
	margin: 0;
	padding: 0;
}

.container {
	max-width: $maxWidth;
	margin: 0 auto;
	padding: 0 15px;
}

.no-wrap {
	white-space: nowrap;
}

.no-visible {
	display: none;
}

.border {
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
	border: 1px solid #666;
}

.button {
	&__top {
		position: fixed; 
		left: 8%; 
		bottom: 10%; 
		cursor: pointer; 
		display: none; 
		font-size: 3rem;
		border-radius: 10px;
		color: white;
		background-color: rgba($blueColor, 0.3);
		padding: 0 10px 10px;
		&--show {
			display: block;
		}
	}
}
