.main {
	display: grid;
	grid-template-columns: 1fr 4fr;
	margin-top: $paddingValue;
	&--column{
		
	}
}

.menu {
	text-align: center;
	padding: 0 10px;
	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 20px;
		padding: 0 5px;
		text-align: start;
		&--row{}
	}
	&__sublist {
		margin-top: 20px;
		counter-reset: menuItem 0;
		
		&-item {
			display: block;
			margin-top: 10px;
			color: #666;
			background-color: #fff;
			padding: 0 5px;
			&:before {
				counter-increment: menuItem;
				content: counter(menuItem) ". ";
			}
		}
	}
}




