@media (max-width: 1140px) {
	.emergency,
	.title {
		&__subtitle {
			letter-spacing: 0.1rem;
		}
	}
}

@media (max-width: 1030px) {
	.emergency,
	.title {
		&__subtitle {
			letter-spacing: 0;
		}
	}
}

@media (max-width: 980px) {
	html {
		font-size: calc(1.5 * $htmlFontSize);
	}
}

@media (max-width: 780px) {
	html {
		font-size: calc(1.4 * $htmlFontSize);
	}
	.button__top {
		left: 9%;
	}
}

@media (max-width: 640px) {
	html {
		font-size: calc(1.3 * $htmlFontSize);
	}
	.main--column {
		grid-template-columns: 1fr;
	}
	.menu {
		margin-bottom: 20px;
		&__list--row {
			flex-direction: row;
			justify-content: space-between;
		}
	}
}

@media (max-width: 480px) {
	html {
		font-size: calc(1.2 * $htmlFontSize);
	}
}

@media (max-width: 435px) {
	html {
		font-size: calc(1.1 * $htmlFontSize);
	}
	.button__top {
		left: 10%;
	}
}
