$maxWidth: 1170px;
$blueColor: #3399FF;
$redColor: #FF3333;
$grayColor: #666666;
$htmlFontSize: 10px;
$paddingValue: 30px;

@mixin jost($size, $weight, $height, $spacing) {
	font-family: Jost;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
	letter-spacing: $spacing;
}

@mixin dmSerif($size, $height, $spacing) {
	font-family: DM Serif Display;
	font-size: $size;
	font-weight: 400;
	line-height: $height;
	letter-spacing: $spacing;
}

